<div id="<%= dom_id venue %>">
  <p>
    <strong>Name:</strong>
    <%= venue.name %>
  </p>

  <p>
    <strong>Address line1:</strong>
    <%= venue.address_line1 %>
  </p>

  <p>
    <strong>Address line2:</strong>
    <%= venue.address_line2 %>
  </p>

  <p>
    <strong>Postal code:</strong>
    <%= venue.postal_code %>
  </p>

  <p>
    <strong>City:</strong>
    <%= venue.city %>
  </p>

  <p>
    <strong>Region:</strong>
    <%= venue.region %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= venue.country %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= venue.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= venue.longitude %>
  </p>

</div>
